@import "../../../../../assets/scss/mixins";
@import "../../../../../assets/scss/variables";
@import "../../../../../assets/scss/placeholders";

:host {
  @extend %fullSize;
  display: block;
  .page {
    @extend %fullSize;
    @extend %flexColumn;
    background-color: $white;
    padding: 30px 40px 0 40px;
    gap: 20px;
    .btn--primary {
      align-self: flex-end;
      min-width: 120px;
    }
    .table {
      @include flex-container(center, center);
    }
  }
}
