@import "../../../../../assets/scss/mixins";
@import "../../../../../assets/scss/variables";
@import "../../../../../assets/scss/placeholders";

:host {
  @extend %fullSize;
  display: block;
  .wrapper {
    @include flex-container(center, center, column);
    .logo {
      @include flex-container(center, center);
      gap: 15px;
      margin-bottom: 10px;
      .logo__image {
        width: 40px;
      }
      .logo__text {
        margin: 0;
      }
    }
    .form {
      @extend %flexColumn;
      gap: 15px;
      width: 300px;
      .form__options {
        @include flex-container(center, space-between);
      }
    }
  }
}
