<nz-form-item>
  <nz-form-label nzRequired>{{ "LABEL." + label | translate }}</nz-form-label>
  <nz-form-control>
    <nz-input-group [nzSuffix]="suffixTemplate">
      <input nz-input [type]="inputType" [formControl]="textControl" (blur)="onInputBlur()" />
    </nz-input-group>
    <ng-template #suffixTemplate>
      <span
        nz-icon
        [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
        (click)="togglePasswordVisibility()"
      ></span>
    </ng-template>
    <div class="error-wrapper" *ngIf="textControl.touched">
      <div
        *ngIf="ngControl.errors && (ngControl.errors | validationError) as errorKey"
        class="error"
      >
        {{ validationErr[errorKey] | translate }}
      </div>
    </div>
  </nz-form-control>
</nz-form-item>
