<div class="wrapper">
  <nz-table class="table" [nzData]="data">
    <thead>
      <tr>
        <th *ngFor="let column of columns">
          {{ column.displayName | translate }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data" (click)="rowClicked(item)">
        <!-- TODO techStack ia an array, make sure to display each element of it via commas -->
        <td *ngFor="let column of columns">
          @if (
            column.valueField == "techStack" ||
            column.valueField === "department" ||
            column.valueField === "specialization"
          ) {
            {{ item[column.valueField].name }}
          } @else {
            {{ item[column.valueField] }}
          }
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
