<div class="wrapper">
  <nz-table
    class="table"
    [nzData]="data"
    [nzPageIndex]="currentPageIndex"
    [nzTotal]="totalItems"
    [nzPageSize]="pageSize"
    (nzPageIndexChange)="onPageIndexChange($event)"
  >
    <thead>
      <tr>
        <th *ngFor="let column of columns">
          {{ column.displayName | translate }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of currentData" (click)="rowClicked(item)">
        <td *ngFor="let column of columns">
          {{ item | tableItemsDisplay: column }}
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
