<div class="page">
  <nz-page-header [nzTitle]="'TITLES.EMPLOYEE_TITLE' | translate">
    <nz-breadcrumb nz-page-header-breadcrumb>
      <nz-breadcrumb-item>Home</nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a>Employees</a>
      </nz-breadcrumb-item>
    </nz-breadcrumb>
    <nz-page-header-content class="page__header">
      <p>{{ pageTitle$ | async }}</p>
    </nz-page-header-content>
  </nz-page-header>
  <div class="page__content">
    <router-outlet></router-outlet>
  </div>
</div>
