<div class="page">
  <nz-page-header
    [nzTitle]="'TITLES.EMPLOYEE_TITLE' | translate"
    *ngIf="pageTitleS$ | async as pageTitles"
  >
    <nz-breadcrumb nz-page-header-breadcrumb>
      @for (item of breadcrumbs$ | async; track item.label; let index = $index) {
        <nz-breadcrumb-item>
          <a [routerLink]="item.link.path" (click)="onBreadcrumbClick(index)">{{
            item.label | translate
          }}</a>
        </nz-breadcrumb-item>
      }
    </nz-breadcrumb>
    <nz-page-header-content class="page__header">
      <p>{{ pageTitles.pageSubtitle | translate }}</p>
    </nz-page-header-content>
  </nz-page-header>
  <div class="page__content">
    <router-outlet></router-outlet>
  </div>
</div>
