<div class="tab__form-wrapper">
  <form nz-form [formGroup]="baseForm" [nzLayout]="'vertical'">
    <nz-button-group class="tab__actions">
      <button nz-button type="submit" [nzType]="'primary'" (click)="onSave()">
        {{ "BUTTON.SAVE" | translate }}
      </button>
    </nz-button-group>
    <div class="tab__form-controls">
      <div class="tab__form-control">
        <cvgen-input
          [label]="'FIRST_NAME'"
          inputType="text"
          formControlName="firstName"
        ></cvgen-input>
      </div>
      <div class="tab__form-control">
        <cvgen-input
          [label]="'LAST_NAME'"
          inputType="text"
          formControlName="lastName"
        ></cvgen-input>
      </div>
      <div class="tab__form-control">
        <cvgen-input [label]="'EMAIL'" inputType="email" formControlName="email"></cvgen-input>
      </div>
      <!-- TODO do i need those here too? -->
      <div class="tab__form-control">
        <cvgen-select
          [label]="'SPECIALIZATION'"
          formControlName="specialization"
          [listOfOptions]="specializationData"
        ></cvgen-select>
      </div>
      <div class="tab__form-control">
        <cvgen-select
          [label]="'DEPARTMENT'"
          formControlName="department"
          [listOfOptions]="departmentData"
        ></cvgen-select>
      </div>
      <div class="tab__form-control">
        <cvgen-multiselect
          [label]="'SKILLS'"
          formControlName="skills"
          [listOfOptions]="skillData"
        ></cvgen-multiselect>
      </div>
      <div class="tab__form-array-wrapper">
        <button class="tab__list-add-btn" nz-button (click)="addLanguage()">
          <nz-form-label nzRequired> Add a Language </nz-form-label>
          <span nz-icon nzType="plus" nzTheme="outline"></span>
        </button>

        <div class="tab__form-array" formArrayName="language">
          @for (lang of languages.controls; let index = $index; track lang) {
            <div class="tab__from-group" [formGroupName]="index">
              <div class="tab__form-control">
                <cvgen-select
                  [label]="'LANGUAGES'"
                  formControlName="name"
                  [listOfOptions]="languagesData"
                ></cvgen-select>
              </div>
              <div class="tab__form-control">
                <cvgen-select
                  [label]="'LEVELS'"
                  formControlName="level"
                  [listOfOptions]="levelData"
                ></cvgen-select>
              </div>
              <span
                class="tab__menu-item--delete"
                nz-icon
                nzType="delete"
                (click)="deleteLanguage(index)"
              ></span>
            </div>
          }
        </div>
      </div>
    </div>
  </form>
</div>
<div class="tab__projects">
  <nz-button-group class="tab__projects-actions">
    <!-- <button class="tab__projects-add-btn" nz-button nz [nzType]="'primary'">
      {{ "BUTTON.ADD_PROJECT" | translate }}
    </button> -->
    <nz-form-label nzRequired class="tab__projects-add-btn">
      {{ "BUTTON.ADD_PROJECT" | translate }}
    </nz-form-label>
    <button nz-button nz-dropdown [nzDropdownMenu]="cvsProjects" nzPlacement="bottomRight">
      <span nz-icon nzType="ellipsis"></span>
    </button>
  </nz-button-group>
  <nz-dropdown-menu #cvsProjects="nzDropdownMenu">
    <ul nz-menu>
      @for (project of projectData; let index = $index; track index) {
        <li nz-menu-item (click)="addNewProject(project)">{{ project.projectName }}</li>
      }
    </ul>
  </nz-dropdown-menu>

  <nz-collapse class="tab__projects-collapse" nzAccordion>
    @for (project of projects.controls; let index = $index; track project) {
      <nz-collapse-panel
        [nzHeader]="project.value.projectName"
        [nzExtra]="extraRemove"
        (nzActiveChange)="selectProject(project.value)"
      >
        <cvgen-project-form
          [selectedProjectData]="modifiedProject"
          [skillList]="skillData"
          [responsibilityList]="responsibilityList"
          [teamRolesList]="teamRolesList"
        ></cvgen-project-form>
      </nz-collapse-panel>
      <ng-template #extraRemove>
        <span
          class="tab__menu-item--delete"
          nz-icon
          nzType="delete"
          (click)="deleteProject(index)"
        ></span>
      </ng-template>
    }
  </nz-collapse>
</div>
