<form
  class="form"
  nz-form
  [formGroup]="projectForm"
  [nzLayout]="'vertical'"
  (ngSubmit)="onSubmit()"
>
  <div class="form__form-controls">
    <div class="form__inputs">
      <div class="form__input-group">
        <div class="form___form-control form__input">
          <cvgen-input formControlName="projectName" [label]="'PROJECT_NAME'"></cvgen-input>
        </div>
        <div class="form___form-control form__date-picker">
          <cvgen-date-picker
            formControlName="datePicker"
            [label]="'PROJECT_DURATION'"
          ></cvgen-date-picker>
        </div>
      </div>
      <div class="form__input-group">
        <div class="form___form-control form__input">
          <cvgen-input formControlName="teamSize" [label]="'TEAM_SIZE'"></cvgen-input>
        </div>

        <div class="form___form-control form__input">
          <cvgen-select
            formControlName="techStack"
            [label]="'TECH_STACK'"
            [listOfOptions]="skillList$ | async"
          ></cvgen-select>
        </div>

        <div class="form___form-control form__input">
          <cvgen-select
            formControlName="teamRoles"
            [label]="'ROLES'"
            [listOfOptions]="teamRolesList$ | async"
          ></cvgen-select>
        </div>
      </div>

      <!-- <div class="form__input-group" formGroupName="info2">
        <div class="form___form-control form__input">
          <cvgen-input formControlName="teamSize" [label]="'TEAM_SIZE'"></cvgen-input>
        </div> -->
      <!-- <div class="form___form-control form__input">
          <cvgen-select
            formControlName="techStack"
            [label]="'TECH_STACK'"
            [listOfOptions]="techStackOptions"
          ></cvgen-select>
        </div>

        <div class="form___form-control form__input">
          <cvgen-select
            formControlName="teamRoles"
            [label]="'ROLES'"
            [listOfOptions]="rolesOptions"
          ></cvgen-select>
        </div>
      </div> -->
    </div>
    <div class="form__textareas">
      <div class="form___form-control form__textarea">
        <cvgen-textarea formControlName="description" [label]="'DESCRIPTION'"></cvgen-textarea>
      </div>
      <div class="form___form-control form__textarea">
        <cvgen-select
          formControlName="responsibilities"
          [label]="'RESPONSIBILITIES'"
          [listOfOptions]="responsibilityList$ | async"
        ></cvgen-select>
      </div>
    </div>
  </div>
  <div class="form__buttons">
    <button
      nz-button
      type="submit"
      [nzType]="'primary'"
      class="login-form-button login-form-margin"
    >
      {{ "BUTTON.SUBMIT" | translate }}
    </button>
    <button nz-button type="reset" [nzType]="'default'" (click)="onCancel()">
      {{ "BUTTON.CANCEL" | translate }}
    </button>
  </div>
</form>

<!-- <p>{{ projectForm.get("datePicker")?.value?.[0] }}</p> -->
