<form
  class="form"
  nz-form
  [formGroup]="projectForm"
  [nzLayout]="'vertical'"
  (ngSubmit)="onSubmit()"
>
  <div class="form__form-controls">
    <div class="form__inputs">
      <div class="form__input-group">
        <div class="form___form-control form__input">
          <cvgen-input formControlName="name" [label]="'FIRST_NAME'"></cvgen-input>
        </div>
        <div class="form___form-control form__date-picker">
          <cvgen-date-picker
            formControlName="datePicker"
            [label]="'PROJECT_DURATION'"
          ></cvgen-date-picker>
        </div>
      </div>
      <div class="form__input-group" formGroupName="info1">
        <div class="form___form-control form__input">
          <cvgen-input formControlName="teamSize" [label]="'TEAM_SIZE'"></cvgen-input>
        </div>
        <div class="form___form-control form__input">
          <cvgen-input formControlName="techStack" [label]="'TECH_STACK'"></cvgen-input>
        </div>
        <div class="form___form-control form__input">
          <cvgen-input formControlName="roles" [label]="'ROLES'"></cvgen-input>
        </div>
      </div>

      <div class="form__input-group" formGroupName="info2">
        <div class="form___form-control form__input">
          <cvgen-input formControlName="teamSize" [label]="'TEAM_SIZE'"></cvgen-input>
        </div>
        <div class="form___form-control form__input">
          <cvgen-input formControlName="techStack" [label]="'TECH_STACK'"></cvgen-input>
        </div>
        <div class="form___form-control form__input">
          <cvgen-input formControlName="roles" [label]="'ROLES'"></cvgen-input>
        </div>
      </div>
    </div>
    <div class="form__textareas">
      <div class="form___form-control form__textarea">
        <cvgen-textarea formControlName="description" [label]="'DESCRIPTION'"></cvgen-textarea>
      </div>
      <div class="form___form-control form__textarea">
        <cvgen-textarea
          formControlName="responsibilities"
          [label]="'RESPONSIBILITIES'"
        ></cvgen-textarea>
      </div>
    </div>
  </div>
  <div class="form__buttons">
    <button
      nz-button
      type="submit"
      [nzType]="'primary'"
      class="login-form-button login-form-margin"
    >
      {{ "BUTTON.SUBMIT" | translate }}
    </button>
    <button nz-button type="reset" [nzType]="'default'">{{ "BUTTON.CANCEL" | translate }}</button>
  </div>
</form>
<!-- <p>{{ projectForm.get("datePicker")?.value?.[0] }}</p> -->
