@import "../../../../../assets/scss/mixins";
@import "../../../../../assets/scss/variables";
@import "../../../../../assets/scss/placeholders";

:host {
  @extend %fullSize;
  display: block;
  .tab {
    @extend %fullSize;
    @include flex-container(center);
    gap: 40px;
    .tab__list {
      height: 100%;
      width: 200px;
      @extend %flexColumn;
      .tab__menu {
        padding: 0;
        border-right: none;
        .tab__menu-item {
          padding: 5px 10px;
          nz-divider {
            margin-top: 4px;
          }
          .tab__menu-item__content {
            height: 100%;
            @include flex-container(center, space-between);
            .tab__menu-item--delete {
              &:hover {
                color: $red;
              }
            }
          }
        }
      }
      .tab__list-add-btn {
        margin-top: 20px;
        align-self: flex-end;
      }
    }
    .tab__content {
      flex: 1;
      .tab__form-wrapper {
        width: 80%;
        .tab__form-controls {
          @include flex-container(initial, initial);
          gap: 20px;
          flex-wrap: wrap;
          margin-bottom: 20px;
          .tab__form-control {
            width: 30%;
          }
        }
      }
      .tab__projects {
        @include flex-container(flex-end, center, column);
        .tab__projects-collapse {
          width: 100%;
          margin: 10px 0 20px 0;
        }
      }
      .tab__projects-actions {
        @include flex-container(initial, flex-end);
        gap: 15px;
      }
    }
  }
}
