<div class="tab">
  <form
    class="tab__form"
    nz-form
    [formGroup]="baseForm"
    [nzLayout]="'vertical'"
    (ngSubmit)="onSubmit()"
  >
    <div class="tab__form-controls">
      <div class="tab__form-control">
        <cvgen-input
          [label]="'FIRST_NAME'"
          inputType="text"
          formControlName="firstName"
        ></cvgen-input>
      </div>
      <div class="tab__form-control">
        <cvgen-input
          [label]="'LAST_NAME'"
          inputType="text"
          formControlName="lastName"
        ></cvgen-input>
      </div>
      <div class="tab__form-control">
        <cvgen-input [label]="'EMAIL'" inputType="email" formControlName="email"></cvgen-input>
      </div>
      <div class="tab__form-control">
        <cvgen-select
          [label]="'SPECIALIZATION'"
          [listOfOptions]="specializationData"
          formControlName="specialization"
        ></cvgen-select>
      </div>
      <div class="tab__form-control">
        <cvgen-select
          [label]="'DEPARTMENT'"
          [listOfOptions]="departmentData"
          formControlName="department"
        ></cvgen-select>
      </div>
    </div>
    <button nz-button type="submit">{{ "BUTTON.SUBMIT" | translate }}</button>
  </form>
</div>
