<div class="tab">
  <form class="tab__form" nz-form [formGroup]="baseForm" (ngSubmit)="onSubmit()">
    <div nz-row [nzGutter]="[30, 16]">
      <div nz-col [nzSpan]="8">
        <cvgen-input
          [label]="'FIRST_NAME'"
          inputType="text"
          formControlName="firstName"
        ></cvgen-input>
      </div>
      <div nz-col [nzSpan]="8">
        <cvgen-input
          [label]="'LAST_NAME'"
          inputType="text"
          formControlName="lastName"
        ></cvgen-input>
      </div>
      <div nz-col [nzSpan]="8">
        <cvgen-input [label]="'EMAIL'" inputType="email" formControlName="email"></cvgen-input>
      </div>
      <div nz-col [nzSpan]="8">
        <cvgen-input
          [label]="'SPECIALIZATION'"
          inputType="text"
          formControlName="specialization"
        ></cvgen-input>
      </div>
      <div nz-col [nzSpan]="8">
        <cvgen-input
          [label]="'DEPARTMENT'"
          inputType="text"
          formControlName="department"
        ></cvgen-input>
      </div>
    </div>
    <button nz-button type="submit">{{ "BUTTON.SUBMIT" | translate }}</button>
  </form>
</div>
