<div class="page">
  <nz-tabset>
    <nz-tab [nzTitle]="'TAB.INFO' | translate">
      <cvgen-employee-info-form
        [employeeId]="employeeId"
        [selectedEmployeeData]="selectedEmployee$ | async"
        [departmentData]="departmentList$ | async"
        [specializationData]="specializationList$ | async"
        (submitInfoForm)="updateExisting($event)"
      ></cvgen-employee-info-form>
    </nz-tab>
    <nz-tab [nzTitle]="'TAB.CV' | translate">
      <cvgen-employee-cv-form
        [employeeId]="employeeId"
        [selectedEmployeeData]="selectedEmployee$ | async"
        [departmentData]="departmentList$ | async"
        [specializationData]="specializationList$ | async"
        [skillData]="skillList$ | async"
      ></cvgen-employee-cv-form>
    </nz-tab>
  </nz-tabset>
  <!-- <nz-button-group class="tabs__actions">
    <button nz-button type="submit" [nzType]="'default'">
      {{ "BUTTON.CANCEL" | translate }}
    </button>
    <button nz-button type="reset" [nzType]="'primary'">
      {{ "BUTTON.SUBMIT" | translate }}
    </button>
  </nz-button-group> -->
</div>
