@import "../../../../../assets/scss/mixins";
@import "../../../../../assets/scss/variables";
@import "../../../../../assets/scss/placeholders";

:host {
  @extend %fullSize;
  display: block;
  background-color: $white;
  padding: 30px 40px;
  .page {
    @extend %fullSize;
    @include flex-container(initial, space-between, column);
    .tabs__actions {
      @include flex-container(initial, flex-end);
      gap: 20px;
    }
  }
}
