<div class="ant-form-item-control-input">
  <nz-form-item>
    <nz-form-label nzRequired>{{ "LABEL." + label | translate }}</nz-form-label>
    <nz-form-control>
      <nz-input-group>
        <nz-range-picker [formControl]="dateRangeControl"></nz-range-picker>
      </nz-input-group>
      <div class="error-wrapper" *ngIf="dateRangeControl.touched">
        <div
          *ngIf="ngControl.errors && (ngControl.errors | validationError) as errorKey"
          class="error"
        >
          {{ validationErr[errorKey] | translate }}
        </div>
      </div>
    </nz-form-control>
  </nz-form-item>
</div>
