@import "../../../../assets/scss/mixins";
@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/placeholders";

:host {
  @extend %fullSize;
  display: block;
  .ant-form-item-control-input {
    @extend %fullSize;
    nz-form-item {
      width: inherit;
      margin: 0;
      @extend %flexColumn;
      nz-form-label {
        padding: 5px;
        align-self: flex-start;
      }
      .error-wrapper {
        color: $red;
        text-align: end;
      }
    }
  }
}
